@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto+Condensed:400,700|Roboto:300,400,500,700,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: 900;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}
.blockquote-footer::before {
  content: "\2014\00A0";
}

.fade {
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    -webkit-transition: none;
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    -webkit-transition: none;
    transition: none;
  }
}

::-moz-selection {
  background: #0047b6;
  background: rgba(0, 71, 182, 0.3);
}

::selection {
  background: #0047b6;
  background: rgba(0, 71, 182, 0.3);
}

::-moz-selection {
  background: #0047b6;
  background: rgba(0, 71, 182, 0.3);
}

* {
  -webkit-tap-highlight-color: rgba(0, 71, 182, 0.2);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.is-blocked, body.is-modal-open, body.is-gradpanel-open {
  overflow: hidden;
}
body.is-nav-mobile-open {
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  -webkit-transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  color: #0047b6;
}
a:hover, a:active, a:focus {
  color: #343a40;
}

.o-postlisting {
  background: #F8F8F8;
}

.o-container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .o-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .o-container {
    max-width: 728px;
  }
}
@media (min-width: 992px) {
  .o-container {
    max-width: 1020px;
  }
}
@media (min-width: 1200px) {
  .o-container {
    max-width: 1360px;
  }
}

.o-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow: visible;
}

.o-modal {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  position: fixed;
  z-index: 1005;
  left: 50%;
  top: 50%;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  will-change: transform;
  pointer-events: none;
  -webkit-overflow-scrolling: touch;
}
@supports (pointer-events: auto) {
  .o-modal {
    display: block;
    pointer-events: none;
  }
}
.o-modal.is-active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: auto;
}

.o-header {
  width: 100%;
  background: #F87C00;
  padding: 2.5px 0;
  -webkit-box-shadow: 0px 1px 17px #0000001A;
          box-shadow: 0px 1px 17px #0000001A;
}

.o-header-advertisement {
  margin-bottom: 15px;
}
.o-header-advertisement__container {
  width: 100%;
  height: 100%;
  max-height: 284px;
  overflow: hidden;
}
.o-header-advertisement__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.o-header-advertisement__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.o-header-advertisement__item {
  color: #2F323E;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  padding: 10px;
  width: 215px;
  letter-spacing: 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px #00000029;
          box-shadow: 0px 1px 3px #00000029;
}
.o-header-advertisement__item--active {
  border-top: 2px solid #40BC37;
}

.o-products-slider {
  background: #fff;
  margin-bottom: 40px;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0px 10px #00000014;
          box-shadow: 0px 0px 10px #00000014;
}
.o-products-slider__title {
  color: #2F323E;
  font-size: 13px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}
.o-products-slider__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4px;
}
.o-products-slider__view-all {
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px #00000029;
          box-shadow: 0px 1px 3px #00000029;
  color: #fff;
  background: #40BC37;
  padding: 4px 45px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0;
}
.o-products-slider__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5px;
}
.o-products-slider__tags-item {
  cursor: pointer;
  margin-right: 20px;
}
.o-products-slider__tags-item--active svg .border,
.o-products-slider__tags-item--active svg .text {
  fill: #F87C00;
}
.o-products-slider__tags-item--active svg .circle {
  stroke: #F87C00;
}

.c-nav {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1505px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-nav__brand {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}
.c-nav__brand:hover, .c-nav__brand:active, .c-nav__brand:focus {
  color: #fff;
  text-decoration: none;
}
.c-nav__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.c-nav__navbar-item {
  margin-left: 42px;
  cursor: pointer;
}
.c-nav__navbar-item--user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-nav__navbar-item--user svg {
  margin-left: 8px;
}
.c-nav__navbar-item--dropdown svg {
  fill: rgba(255, 255, 255, 0.5);
  margin-left: 5px;
  margin-bottom: 2px;
}
.c-nav__navbar-item--dropdown .c-nav__navbar-link {
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-nav__navbar-item--dropdown .c-nav__navbar-link:hover svg, .c-nav__navbar-item--dropdown .c-nav__navbar-link:active svg, .c-nav__navbar-item--dropdown .c-nav__navbar-link:focus svg {
  fill: #fff;
}
.c-nav__navbar-item--user svg {
  fill: #fff;
}
.c-nav__navbar-link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  position: relative;
  padding: 5px;
}
.c-nav__navbar-link:hover, .c-nav__navbar-link:active, .c-nav__navbar-link:focus {
  color: #fff;
  text-decoration: none;
}
.c-nav__navbar-link:hover:not(.c-nav__navbar-link--user):not(.c-nav__navbar-link--massages):not(.c-nav__navbar-link--notification)::before, .c-nav__navbar-link:active:not(.c-nav__navbar-link--user):not(.c-nav__navbar-link--massages):not(.c-nav__navbar-link--notification)::before, .c-nav__navbar-link:focus:not(.c-nav__navbar-link--user):not(.c-nav__navbar-link--massages):not(.c-nav__navbar-link--notification)::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -18px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
}
.c-nav__navbar-link--user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  padding: 0;
  border: 3px solid #E4F3EC;
}
.c-nav__navbar-link--user img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.c-input-select {
  position: relative;
  cursor: pointer;
}
.c-input-select__options {
  position: absolute;
  bottom: -55px;
  left: 0;
  right: 0;
  height: 0px;
  overflow: hidden;
  z-index: 1001;
}
.c-input-select__icon {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}

.c-search {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1259px;
  margin-top: 62px;
  margin-bottom: 51px;
}
.c-search__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-search__input {
  color: #8D8C95;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  padding: 14px 28px;
  border: none;
  border-radius: 2px;
  background: #fff;
  max-width: 310px;
  width: 100%;
  margin-right: 50px;
}
.c-search__button {
  font-size: 13px;
  color: #fff;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 15px 56px;
  background: #40BC37;
  font-family: "Roboto Condensed", sans-serif;
}

.c-categories {
  width: 100%;
  height: 100%;
  padding: 17px 30px;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 10px #00000014;
          box-shadow: 0px 0px 10px #00000014;
}
.c-categories__title {
  font-size: 13px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
.c-categories__list {
  margin-top: 17px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.c-categories__item-name {
  font-size: 13px;
  margin-left: 10px;
  color: #2F323E;
  font-family: "Roboto Condensed", sans-serif;
}
.c-categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 18px;
}
.c-categories__item--active .c-categories__item-icon svg, .c-categories__item:hover .c-categories__item-icon svg {
  fill: #40BC37;
}
.c-categories__item--active .c-categories__item-name, .c-categories__item:hover .c-categories__item-name {
  color: #40BC37;
}

.u-clearfix:after {
  content: '' !important;
  display: block !important;
  clear: both !important;
}

.u-text-upper {
  text-transform: uppercase !important;
}

.u-text-right {
  text-align: right !important;
}

.u-color-dark {
  color: #363636 !important;
}

.u-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.u-col {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .u-col--md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 768px) {
  .u-col--categories {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 19.1666666667%;
            flex: 0 0 19.1666666667%;
    max-width: 19.1666666667%;
  }
}

@media (min-width: 768px) {
  .u-col--header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80.8333333333%;
            flex: 0 0 80.8333333333%;
    max-width: 80.8333333333%;
  }
}

@media (min-width: 768px) {
  .u-col--md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

/*# sourceMappingURL=main.css.map */