.c-input-select {
    position: relative;
    cursor: pointer;
    width: 172px;
    padding: 9px 12px;
    font-size: 11px;
    font-family: $OpenSansFontFamily;
    color: $color-select-input-text;
    background: $color-select-input-bg;
    border-radius: 5px;
    border: 1px solid #E2E2E2;;

    &__options {
        position: absolute;
        bottom: -55px;
        left: 0;
        right: 0;
        height: 0px;
        overflow: hidden;
        z-index: map-get($z-layers, select-options);
    }

    &__icon {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }
}