.c-search {
    $root: &;

    @include make-container();
    max-width: 1248px;
    margin-top: 62px;
    margin-bottom: 41px;

    &__row {
        display: flex;
        flex-wrap: wrap;

            justify-content: center;
    }

    &__input {
        color: #8D8C95;
        font-size: 13px;
        font-family: $OpenSansFontFamily;
        padding: 14px 28px;
        border: none;
        border-radius: 2px;
        background: $white;
        width: 310px;
        margin-right: 50px;
        border: 1px solid transparent;

        &:focus {
            outline: none;
            border: 1px solid $color-gray-green;
        }

        margin-bottom: 10px;

        @include media-breakpoint-down(lg) {
            margin-right: 25px;
        }
    }

    &__button {
        font-size: 13px;
        color: $white;
        border: none;
        border-radius: 2px;
        outline: none;
        padding: 14px 56px;
        background: $color-green;
        font-family: $RobotoCondensedFontFamily;
        margin-bottom: 10px;
    }


    @include media-breakpoint-down(sm) {
        &__input, &__button {
            margin-right: 0;
        }

        &__input {
            width: 100%;
        }
    }

    &--advance {
        #{$root} {
            &__col {
                width: 100%;
                max-width: 212px;
                flex: 0 0 212px;
                margin-right: 30px;


                @include media-breakpoint-down(xs) {
                    max-width: 100%;
                    flex:  0 0 100%;
                    margin-right: 0;
                }
            }

            &__advance-input {
                width: 100%;
                margin-bottom: 20px;

                &:focus {
                    outline: none;
                }

                &:not(.c-input-select) {
                    padding: 9px 12px;
                    font-size: 11px;
                    font-family: $OpenSansFontFamily;
                    color: #5F617B;
                    background: #F9F9FB;
                    border-radius: 5px;
                    border: 1px solid #E2E2E2;
                }
            }

            &__price {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 57px;
                    border: 1px solid #BBBBBB;
                    border-right: none;
                    top: 42%;
                    right: 100%;
                    transform: translateY(-50%);
                }
            }
        }
    }

}