.c-breadcrumb  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    &, &__item  {
        &, a {
            font-size: 13px;
            font-weight: $font-weight-normal;
            color: $color-yellow;
        }

    }

    &__item {
        margin: 0 5px;

        &:first-child {
            margin-left: 0;
        }

        &--active {
            pointer-events: none;
        }
    }
}