.c-menu {

    $root: &;

    position: relative;
    z-index: 3;

    &__btn {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__options {
        min-width: 172px;
        padding: 10px;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-top: 5px;
        transform: translateX(-50%);
        background: $white;
        box-shadow: 0px 3px 6px #00000029;
        border: 0.5px solid #09090942;
        pointer-events: none;
        opacity: 0;
        @include basic-transition(opacity, 1s);

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: $white;
            top: -10px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            border: 1px solid #09090942;
            border-bottom: none;
            border-right: none;
        }
    }

    &__option-item {
        margin-top: 5px;
        padding-bottom: 2px;
        border-bottom: 0.5px solid #09090942;

        &,
        a {
            color: #707070;
            font-size: 12px;
        }

        a {
            display: block;
        }
    }


    &--account {
        #{$root} {

            &__btn {
                width: auto;
                height: auto;
            }

            &__options {
                border: none;
                margin-top: 0;

                &::before {
                    content: none;
                }
            }

            &__option-item {
                border: none;
            }

            &__login-account {
                display: flex;
                align-items: center;
            }

            &__login-account-text {
                color: #989898;
                font-size: 13px;
                font-family: $RobotoCondensedFontFamily;
                margin-right: 10px;
            }

            &__login-account-thumb {
                width: 30px;
                height: 30px;
                border: 1px solid $color-gray-green;
                border-radius: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    @include object-fit(cover);
                }
            }

            &__login-account-icon {
                margin-left: 5px;

                svg {
                    fill: $color-orange;
                    width: 6px;
                    height: 3px;
                }
            }

            &__user {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &__user-name {
                color: #989898;
                font-size: 13px;
                font-family: $RobotoCondensedFontFamily;
            }

            &__user-thumb {
                width: 20px;
                height: 20px;
                border-radius: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    @include object-fit(cover);
                }
            }
        }
    }
}