.c-input-select {
    $root: &;

    position: relative;
    cursor: pointer;
    width: 172px;
    padding: 9px 12px;
    font-size: 11px;
    font-family: $OpenSansFontFamily;
    color: $color-select-input-text;
    background: $color-select-input-bg;
    border-radius: 5px;
    border: 1px solid #E2E2E2;

    &__options {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 0px;
        overflow: hidden;
        z-index: map-get($z-layers, select-options);
        @include basic-transition(height, 0.3s);
        box-shadow: 1px 1px 3px rgba($color-dark, 0.1);
    }

    &__options-item {
        position: relative;
        padding: 10px 25px;
        background: $white;
        font-size: 11px;

       

        &.has-sub-item {
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%) rotate(-45deg);
                border: solid #707070;
                border-width: 0 1px 1px 0;
                display: inline-block;
                padding: 3px;
                @include basic-transition(transform, 0.2s)
            }

                &:hover {
                    &::after {
                        transform: translateY(-50%) rotate(45deg);
                    }
                }
        }

        &:hover>#{$root}__options-sub {
            display: block;
        }

        

        &:nth-child(odd) {
            background: #f1f1f1;
        }

        @include on-event {
            color: $color-dark;
        }
    }

    &__options-sub {
        position: absolute;
        top: 10px;
        left: 100%;
        background: $white;
        display: flex;
        flex-direction: column;
        width: 80%;
        max-height: 600px;
        display: none;
        // overflow: auto;
        box-shadow: 1px 1px 3px rgba($color-dark, 0.1);
        z-index: 2;

        @include media-breakpoint-down(md) {
            width: 100%;
            top: 100%;
            left: 0;
            max-height: 500px;
        }

        @include media-breakpoint-down(xs) {
            max-height: 300px;
        }
    }

    &__options-sub-item {
        @extend .c-input-select__options-item;

        @include media-breakpoint-down(md) {
            padding-left: 40px;
        }
    }

    &__icon {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }
}