.c-categories {
    $root: &;

    width: 100%;
    height: 100%;
    padding: 17px 30px;
    background: $white;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #00000014;
    position: relative;


    &__title {
        font-size: 13px;
        font-family: $RobotoCondensedFontFamily;
        font-weight: $font-weight-bold;
        @include media-breakpoint-down(sm) {
           display: none;
        }
    }

    &__list {
        margin-top: 17px;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;

        @include media-breakpoint-down(md) {
            display: flex;
            overflow-x: auto;
        }

        @include media-breakpoint-down(sm) {
            margin-top: 3px;
         }
    }

    &__item-name {
        font-size: 13px;
        margin-left: 10px;
        color: $color-dark-1;
        font-family: $RobotoCondensedFontFamily;

        @include media-breakpoint-down(md) {
            margin-left: 0;
            position: relative;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 5px;

            &::before {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0;
                right: 0;
                height: 3px;
                background: $color-orange;

            }
        }
    }

    &__item {
        margin-bottom: 18px;
        @include media-breakpoint-down(md) {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        &:hover {
            #{$root}__item-icon svg {
                fill: $color-green;
            }

            #{$root}__item-name {
                color: $color-green;
            }
        }

        &:hover {
            #{$root}__megamenu {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__item-content {
        display: flex;
        align-items: center;

        @include on-event() {
            #{$root}__megamenu {
                opacity: 1;
                visibility: visible;
            }
        }

        @include media-breakpoint-down(md) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }
}