$nav-item-space: 42px;
$nav-item-padding: 5px;

.c-nav {
    $root: &;

    @include make-container();
    max-width: 1485px + $grid-gutter-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__brand {
        color: $white;
        font-size: 30px;
        font-weight: $font-weight-medium;

        @include media-breakpoint-down(xs) {
            font-size: 16px;
            font-weight: $font-weight-bold;
        }

        @include on-event {
            color: $white;
            text-decoration: none;
        }
    }

    &__navbar {
        display: flex;
        align-items: center;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
    }

    &__navbar-item {
        margin-left: $nav-item-space;
        cursor: pointer;

        @include media-breakpoint-down(lg) {
            margin-left: $nav-item-space / 2;
        }


        @include media-breakpoint-down(md) {
            margin-left: $nav-item-space / 5;
        }

        &--user {
            display: flex;
            align-items: center;

            svg {
                margin-left: 8px;
            }
        }

        &--dropdown {
            position: relative;

            svg {
                fill: rgba($white, .50);
                margin-left: 5px;
                margin-bottom: 2px;
            }

            &>#{$root}__navbar-link {
                line-height: 15px;
                height: 56px;
                display: flex;
                align-items: center;

                @include on-event() {
                    svg {
                        fill: $white;
                    }

                    &::before {
                        bottom: -2px;
                    }
                }
            }

            @include on-event() {
                #{$root}__navbar-dropdown {
                    visibility: visible;
                }
            }
        }

        &--user {
            svg {
                fill: $white;
            }
        }
    }

    &__navbar-link {
        color: rgba($white, .50);
        font-size: 16px;
        font-family: $RobotoCondensedFontFamily;
        text-transform: uppercase;
        position: relative;
        padding: $nav-item-padding;

        @include media-breakpoint-down(md){
            font-size: 14px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -18px;
            height: 5px;
            border-radius: 5px;
            background: $white;
            opacity: 0;

           
        }

        @include media-breakpoint-down(sm) {
            &::before {
                display: none;
            }
            font-size: 20px;
        }

        @include on-event {
            color: $white;
            text-decoration: none;

            &:not(.c-nav__navbar-link--user):not(.c-nav__navbar-link--massages):not(.c-nav__navbar-link--notification) {
                &::before {
                    opacity: 1;
                }
            }

        }

        &--user {
            display: flex;
            width: 56px;
            height: 56px;
            border-radius: 28px;
            padding: 0;
            border: 3px solid $color-gray-green;

            img {
                width: 100%;
                height: 100%;
                @include object-fit(cover);
            }

            @include media-breakpoint-down(sm) {
                width: 40px;
                height: 40px;
            }
        }
    }

    &__navbar-dropdown {
        position: absolute;
        top: 58px;
        left: -50%;
        list-style: none;
        background: $color-orange;
        box-shadow: 0px 0px 10px #00000014;
        padding: 10px;
        margin-bottom: 0;
        z-index: map-get($z-layers, drop-down);
        min-width: 200px;
        visibility: collapse;

        @include media-breakpoint-down(sm) {
            top: 25px;
        }
    }

    &__navbar-dropdown-item {
        margin-bottom: 5px;
    }

    &__navbar-dropdown-link {
        padding: 5px;

        &::before {
            display: none;
        }
    }


    &__links {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(sm) {
            position: fixed;
            top: 50px;
            right: 0;
            bottom: 0;
            left: 0px;
            background: $color-orange;
            flex-direction: column;
            justify-content: center;
            opacity: 0;
            pointer-events: none;
            @include basic-transition(0.3s);

            #{$root}__navbar-item {
                margin-left: 0;
                margin-bottom: 20px;
            }

            #{$root}__navbar-item--dropdown > .c-nav__navbar-link {
                height: auto;
            }

            &.is-active {
                pointer-events: auto;
                opacity: 1;
            }
        }
    }
}