.c-search {
    @include make-container();
    max-width: 1239px + $grid-gutter-width;
    margin-top: 62px;
    margin-bottom: 51px;

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__input {
        color: #8D8C95;
        font-size: 13px;
        font-family: $OpenSansFontFamily;
        padding: 14px 28px;
        border: none;
        border-radius: 2px;
        background: $white;
        max-width: 310px;
        width: 100%;
        margin-right: 50px;
        border: 1px solid transparent;

        &:focus {
            outline: none;
            border: 1px solid $color-gray-green;
        }
    }

    &__button {
        font-size: 13px;
        color: $white;
        border: none;
        border-radius: 2px;
        outline: none;
        padding: 14px 56px;
        background: $color-green;
        font-family: $RobotoCondensedFontFamily;
    }

    .c-input-select__options-item {
        padding: 10px 25px;
        background: $white;

        &:nth-child(odd) {
            background: #f1f1f1;
        }

        @include on-event {
            color: $color-dark;
        }
    }
}