.c-input-select {
    position: relative;
    cursor: pointer;

    &__options {
        position: absolute;
        bottom: -55px;
        left: 0;
        right: 0;
        height: 0px;
        overflow: hidden;
        z-index: map-get($z-layers, select-options);
    }

    &__icon {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }
}