@mixin hideCnotentForSmMd($root) {
    #{$root} {

        &__options,
        &__sub,
        &__meta-date {
            display: none;
        }
    }
}

.c-product {
    $root: &;
    display: flex;

    &__tag {
        cursor: pointer;
        margin-right: 20px;
        opacity: 0;
        @include basic-transition(opacity);

        &--active {
            svg {

                .border,
                .text {
                    fill: $color-orange;
                }

                .circle {
                    stroke: $color-orange;
                }
            }
        }
    }

    &__thumb img {
        width: 100%;
        height: 100%;
        @include object-fit(cover);
    }

    &__thumb {
        border: 1px solid $color-dark-1;
        position: relative;
        overflow: hidden;
    }

    &--featured {
        #{$root}__thumb {
            border: 1px solid $color-pink;
        }

        #{$root}__featured-tag {
            position: absolute;
            top: 17px;
            left: -35px;
            text-align: center;
            padding: 3px;
            width: 120px;
            z-index: 3;
            font-size: 10px;
            background: $color-pink;
            color: $white;
            transform: rotate(-45deg);
        }
    }

    @include on-event() {
        #{$root}__tag {
            opacity: 1;
        }
    }

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__details-top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__expires {
        color: #B1B1B1;
        font-size: 10px;
        margin-left: 10px;
        display: none;
    }

    &__meta {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-bottom: 5px;
    }

    &__meta-name,
    &__meta-date {
        color: #707070;
    }

    &__meta-time {
        font-size: 10px;
        color: #B1B1B1;
        letter-spacing: 0;
    }

    &__options {
        display: flex;
        align-items: center;
    }

    &__tag {
        margin-top: 3px;
    }

    &__inbox,
    &__share,
    &__like,
    &__delete,
    &__edit {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background: #DFFAE9;
        cursor: pointer;

        &:not(.c-product__inbox) {
            margin-left: 10px;
        }

        &:not(.c-product__like) svg {
            fill: $color-green-2;
        }
    }

    &__like svg {
        fill: none;
        stroke: $color-green-2;
    }


    &__likes,
    &__viewed {
        display: flex;
        margin-right: 30px;
        align-items: center;

        &-count {
            color: #707070;
            font-size: 10px;
            font-family: $RobotoCondensedFontFamily;
            letter-spacing: 0;
            margin-left: 7px;
        }
    }

    &__likes-icon svg{
        fill: none;
        stroke: #C8C8C8;
    }


    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__price {
        display: flex;
        color: $color-green;
        align-items: center;
        font-size: 14px;
    }

    &__price-row {
        display: flex;
        align-items: center;
    }

    &__delivery {
        color: #707070;
        display: flex;
        font-size: 12px;
        align-items: center;
    }

    &__price-icon,
    &__delivery-icon {
        background: $color-yellow;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__price-off {
        font-size: 11px;
        margin-right: 8px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            top: 50%;
            right: 0;
            left: 0;
            height: 1.5px;
            background: #FF2020;
            transform: rotate(14deg) translateY(-50%);
        }
    }

    &__delivery,
    &__price {
        background: $white;
        box-shadow: 0px 0px 10px #00000014;
        font-family: $RobotoCondensedFontFamily;
        overflow: hidden;
    }

    &__title {
        color: $color-dark-1;
        font-size: 15px;
        font-weight: $font-weight-bold;
        margin-bottom: 2px;
        font-family: $RobotoCondensedFontFamily;
    }

    &__sub {
        font-size: 13px;
        font-family: $OpenSansFontFamily;
        letter-spacing: 0;
        color: #707070;
    }

    &--medium {
        max-width: 149px;
        flex: 0 0 149px;
        flex-wrap: wrap;
        @include hideCnotentForSmMd($root);

        #{$root} {

            &__thumb {
                margin-bottom: 5px;
                width: 100%;
                height: auto;
            }

            &__title {
                font-size: 13px;
            }

            &__meta-name {
                font-size: 11px;
            }

            &__price {
                margin-bottom: 6px;
            }

            &__delivery,
            &__price {
                width: 100%;
                background: $white;
                border-radius: 2px;
                min-height: 20px;
            }

            &__price-icon,
            &__delivery-icon {
                background: $color-yellow;
                height: 20px;
                width: 20px;
            }

            &__price-row,
            &__delivery-way {
                margin-left: 8px;
            }

            &__delivery-way {
                font-size: 12px;
            }

            &__price-icon svg {
                width: 8px;
                height: 9px;
            }

            &__delivery-icon svg {
                width: 16px;
                height: 10px;
            }
        }
    }

    &--wide {
        width: 100%;
        padding: 15px;
        box-shadow: 0px 0px 10px #00000014;
        margin-bottom: 10px;
        border-radius: 3px;

        #{$root} {

            &__thumb {
                height: 133px;
                flex: 0 0 149px;
                margin-right: 40px;
            }

            &__title {
                font-size: 15px;
            }

            &__expires {
                display: block;
            }

            &__meta-name {
                font-size: 13px;
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid #707070;
            }

            &__meta-date {
                color: #707070;
                margin-right: 8px;
                font-size: 13px;
                font-family: $RobotoCondensedFontFamily;
                letter-spacing: 0;
            }

            &__row {
                margin-bottom: 5px;
            }

            &__price {
                width: 188px;
                margin-right: 20px;
            }

            &__delivery {
                width: 286px;
            }

            &__delivery,
            &__price {
                background: $white;
                border-radius: 5px;
                min-height: 30px;
            }

            &__price-icon,
            &__delivery-icon {
                background: $color-yellow;
                height: 30px;
                width: 30px;
            }

            &__price-row,
            &__delivery-way {
                margin-left: 8px;
            }

            &__delivery-way {
                font-size: 12px;
            }

            &__price-icon svg {
                width: 14px;
                height: 17px;
            }

            &__delivery-icon svg {
                width: 23px;
                height: 14px;
            }
        }
    }

    &--small {
        #{$root} {
            &__thumb {
                max-width: 111px;
                flex: 0 0 111px;
                height: 99px;
                margin-right: 10px;
            }

            &__delete {
                cursor: pointer;
            }

            &__tag {
                margin: 0;
            }

            &__title {
                font-size: 12px;
            }

            &__meta {
                font-size: 11px;
            }

            &__meta-name {
                padding-right: 5px;
                margin-right: 5px;
                border-right: 1px solid #707070;
            }

            &__price {
                margin-bottom: 6px;
            }

            &__delivery,
            &__price {
                width: 100%;
                background: $white;
                border-radius: 2px;
                min-height: 20px;
            }

            &__price-icon,
            &__delivery-icon {
                background: $color-yellow;
                height: 20px;
                width: 20px;
            }

            &__price-row,
            &__delivery-way {
                margin-left: 8px;
            }

            &__delivery-way {
                font-size: 12px;
            }

            &__price-icon svg {
                width: 8px;
                height: 9px;
            }

            &__delivery-icon svg {
                width: 16px;
                height: 10px;
            }
        }
    }
}