.c-price-panel {
    $root: &;

    max-width: 310px;
    width: 100%;
    border-radius: 10px;
    background: $white;
    border: 0.5px solid #B9B9B9;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include basic-transition(all, 0.3s);

    @include media-breakpoint-down(xs) {
        margin-right: 0;
    }


    padding: {
        top: 30px;
        bottom: 30px;
    }

    &:last-child {
        margin-left: 0;
    }

    &__name {
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.4px;
    }

    &__name-icon {
        width: 20px;
        height: 20px;
        border: 1px solid #7c7d84;
        border-radius: 12px;
        margin-right: 10px;
        @include basic-transition(border-color, 0.3s);


        svg {
            width: 100%;
            height: 100%;
            fill: $color-green;
            opacity: 0;
            margin-bottom: 10px;
            @include basic-transition(opacity, 0.3s);

        }
    }

    &__name-text {
        color: $color-dark;
        font-size: 20px;
        font-family: $RobotoCondensedFontFamily;
    }

    &__visibility {
        color: #7C7D84;
        font-size: 11px;
        letter-spacing: 0;
        font-family: $OpenSansFontFamily;
        margin-bottom: 15px;
        text-align: center;
    }

    &__price {
        width: 100%;
        padding: 20px;
        background: rgba(#B9B9B9, 0.2);
        font-size: 26px;
        font-family: $OpenSansFontFamily;
        margin-bottom: 20px;
        color: $color-green-2;
        text-align: center;
    }

    &__bottom {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__features {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        text-align: center;
    }

    &__feature {
        color: #7C7D84;
        font-size: 14px;
        font-weight: $font-weight-normal;
        font-family: $OpenSansFontFamily;
        margin-bottom: 10px;
    }

    &__btn {
        width: 128px;
        margin-top: 20px;
        padding: 10px;
        color: $color-dark;
        font-size: 12px;
        font-family: $OpenSansFontFamily;
        background: $white;
        box-shadow: 0px 6px 11px #00000029;
        border: 1px solid #423F58;
        @include basic-transition(all, 0.3s);


        &:hover {
            box-shadow: 0px 2px 8px #00000029;
        }

        &:focus {
            outline: none;
        }
    }

    &.is-active {
        border-color: transparent;
        box-shadow: 0px 12px 34px #00000029;

        #{$root}__name-icon {
            border-color: transparent;

            svg {
                opacity: 1;
            }
        }

        #{$root}__btn {
            color: $white;
            background: $color-orange;
            border-color: transparent;
        }
    }

}