.o-product-view {
    margin-top: 40px;
    padding: 20px 47px;
    background: $white;
    box-shadow: 0px 0px 10px #00000014;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__top-right {
        display: flex;
    }

    &__title {
        color: $color-dark-1;
        font-size: 13px;
        font-weight: $font-weight-bold;
        font-family: $RobotoCondensedFontFamily;
    }

    &__sort {
        display: flex;
        align-items: center;
    }

    &__style {
        display: flex;
        align-items: center;
        margin-left: 60px;
    }

    &__style-text, &__sort-text {
        color: #989898;
        font-size: 13px;
        font-family: $RobotoCondensedFontFamily;
    }

    &__sort-text {
        margin-right: 10px;
    }

    &__style-list, &__style-grid {
        cursor: pointer;
        margin-left: 10px;
    }

    &__style-list {

    }

    &__style-grid {

    }

    &__container {

    }
}