.o-view-all-featured-listings {
    background-color: $color-grey-light;

    &__top-ad {
        .o-header-advertisement {
            margin-bottom: 0;
        }

        .o-ad {
            height: 327px;
            display: flex;
            flex-direction: column;
        }
    }

    @include media-breakpoint-down(lg) {
        .o-header-advertisement {
            margin-bottom: 30px;
        }
    }

}