.o-megamenu {
    max-width: 1100px;
    width: calc(100vw - 250px);
    // height: 100%;
    padding: 15px;
    position: absolute;
    left: 100%;
    top: 0;
    background: $white;
    z-index: map-get($z-layers, megamenu);
    opacity: 0;
    visibility: collapse;
    transition: all 0.3s;

    @include media-breakpoint-down(md) {
        max-width: 100%;
        width: 100%;
        top: 100%;
        left: 0;
    }


    &__row {
        @include make-row()
    }

    &__col {
        @include make-col-ready();
        @include make-col(6);
        margin-bottom: 30px;

        @include media-breakpoint-up(sm) {
            @include make-col(4);
        }

        @include media-breakpoint-up(md) {
            @include make-col(3);
        }
    }

    &__title {
        color: $color-dark;
        font-size: 13px;
        font-family: $RobotoCondensedFontFamily;
        font-weight: $font-weight-bold;
        margin-bottom: 10px;
    }

    &__item {
        margin-bottom: 2px;
    }

    &__item-link {
        color: $color-dark;
        font-size: 13px;
        font-family: $RobotoCondensedFontFamily;

        @include on-event() {
            color: $color-select-input-text;
        }
    }
}