.o-modal {
  $root: &;

  top: 61px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: map-get($z-layers, modal);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  will-change: transform;
  pointer-events: none;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  @include basic-transition(opacity, 0.5s);
  @include backdrop();


  &__container {
    max-width: 1156px;
    width: 100%;
    height: 850px;
    background: $white;
    padding: $grid-gutter-width;
    box-shadow: 0px 3px 41px #0000001A;
    position: relative;
    z-index: 2;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: $color-dark;
    font-family: $RobotoCondensedFontFamily;
    font-weight: $font-weight-bold;
  }

  &__close {
    cursor: pointer;
    @include basic-transition(transform, $duration: 0.5s);

    &:hover {
      transform: rotate(90deg);
    }

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &__body {
    margin-top: 30px;
  }

  &.is-active {
    pointer-events: auto;
    opacity: 1;
  }
}