$itemMargin: 30px;

.o-product-gallery {
    width: 100%;

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: - $itemMargin / 2;
        margin-right: - $itemMargin / 2;
        justify-content: space-between;
    }

    &__image-wiew {
        width: 100%;
        height: 486px;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 20px;
        box-shadow: 0 3px 6px rgba($black, .16);

        img {
            width: 100%;
            height: 100%;
            @include object-fit(cover);
        }
    }

    &__item {
        width: 190px;
        height: 120px;
        position: relative;
        margin-bottom: 20px;
        margin-left: $itemMargin / 2;
        margin-right: $itemMargin / 2;
        background: $color-grey-light;
        border: 1px solid #707070;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 3px 6px rgba($black, .16);

        img {
            width: 100%;
            height: 100%;
            @include object-fit(cover);
        }
    }

    &__item-icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 2;

        .a {
            fill: none;
        }

        .b {
            isolation: isolate;
        }

        .c {
            fill: #b7b7b7;
        }

        .d {
            clip-path: url(#a);
        }
    }
}


.lg-icon {
    border-radius: none !important;
}

.lg-prev,
.lg-next,
.lg-close {
    background-repeat: no-repeat;
    background-position: center center;

    &::after,
    &::before {
        content: none !important;
    }
}

.lg-prev,
.lg-next {
    height: 85px;
    width: 43px;
}

.lg-close {
    background-image: url('/images/svg/closeIcon.svg');
    margin-right: 20px;
}

.lg-prev {
    background-image: url('/images/svg/arrow-left.svg');
    margin-left: 20px;
}

.lg-next {
    background-image: url('/images/svg/arrow-right.svg');
    margin-right: 20px;

}