.o-contact-seller {
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px #00000014;
    position: relative;

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    &__title {
        color: $color-dark-1;
        font-size: 13px;
        font-weight: $font-weight-bold;
        font-family: $RobotoCondensedFontFamily;
        margin-right: 20px;
    }

    &__icon {
        margin-right: 10px;
    }

    &__number {
        color: #828282;
        font-size: 13px;
        font-family: $RobotoCondensedFontFamily;
    }

    &__number-show {
        color: $color-yellow;
        font-size: 13px;
        font-family: $RobotoCondensedFontFamily;
        cursor: pointer;
    }

    &__form {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    &__form-input {
        width: 100%;
        height: 182px;
        display: block;
        background: $color-select-input-bg;
        border: 2px solid #E2E2E2;
        border-radius: 5px;
        padding: 15px;
        color:  #232323;;
        font-size: 13px;
        font-family: $OpenSansFontFamily;

        &:focus {
            outline: none;
        }
    }

    &__form-btn {
        color: $white;
        background: $color-green;
        border: none;
        border-radius: 2px;
        margin-top: 20px;
        font-size: 13px;
        font-family: $OpenSansFontFamily;
        font-weight: $font-weight-medium;
        padding: 8px 99px;
    }
}