.u-mt-20 {
    margin-top: 20px;
}

.u-mt-30 {
    margin-top: 30px;
}

.u-mt-40 {
    margin-top: 40px;
}

.u-mb-30 {
    margin-bottom: 30px;
}

.u-my-30 {
    margin: {
        top: 30px;
        bottom: 30px;
    }
}