.u-mt-20 {
    margin-top: 20px;
}

.u-mt-30 {
    margin-top: 30px;
}

.u-mt-40 {
    margin-top: 40px;
}

.u-mb-10 {
    margin-bottom: 10px;
}

.u-mb-30 {
    margin-bottom: 30px;
}

.u-mb-40 {
    margin-bottom: 40px !important;
}

.u-my-30 {
    margin: {
        top: 30px;
        bottom: 30px;
    }
}

.u-ml-10 {
    margin-left: 10px;
}

.u-mr-20 {
    margin-right: 20px;
}