$enable-grid-classes:  false;
$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;
$grid-row-columns:            6 !default;

$container-max-widths: (
    sm: 540px,
	md: 728px + $grid-gutter-width,
	lg: 1020px,
	xl: 1170px + $grid-gutter-width,
)