
$color-blue: #0047b6;
$color-black: #000;
$color-dark: #363636;
$color-dark-1: #2F323E;
$color-grey: #4a4a4a;
$color-grey-light: #F8F8F8;
$color-gray-green: #E4F3EC;
$color-red: #FF2020;
$color-pink: #F06354;
$color-green: #40BC37;
$color-green-2: #12BE54;
$color-green-3: #3EC471;
$color-yellow: #FEC200;
$color-orange: #F87C00;
$color-select-input-text: #5F617B;
$color-select-input-bg: #F9F9FB;

$primary: $color-blue;
$secondary: $color-grey;
$danger: $color-red;
$warning: $color-yellow;
