$RobotoFontFamily: 'Roboto', sans-serif;
$OpenSansFontFamily: 'Open Sans', sans-serif;
$RobotoCondensedFontFamily: 'Roboto Condensed', sans-serif;

$font-family-base: 			  $RobotoFontFamily;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-heavy:           800;
$font-weight-bolder:          900;